<ul class="timeline">
	<li class="timeline-inverted repeat-item" ng-repeat="item in $ctrl.data | limitTo:limit | filterByType:$ctrl.showType | orderBy:sortByDate:true track by item.id ">
		<div class="timeline-badge" ng-class="{ 'success': item.type=='F', 'info': item.type=='A', 'warning': item.type=='T', 'primary': item.type=='Q' }">
			{{item.type}}
		</div>
		<div class="timeline-panel">
			<div class="timeline-heading">
				<div class="float-right text-muted">
					<i class="fas fa-user"></i> {{item.operator}}
					<span ng-if="item.startDate">
						<br/>
						<i class="fab fa-font-awesome-flag "></i> {{item.stopDate}}</span>
				</div>
				<h4 class="timeline-title" ng-class="$ctrl.calculateClassFromDuration(item)"> {{item.startDate}} ({{item | humanize}})</h4>
				<small class="text-muted">
					<a ng-click="$ctrl.showParams(item)" href="">
						{{item.service}}_{{item.methodName}}</a>
				</small>
			</div>
			<div class="timeline-body">
				<textarea ng-if="item.showParams" rows="2" readonly class="form-control col-8">{{item.arguments}}</textarea>
			</div>
		</div>
	</li>
	
</ul>
<button class="btn btn-primary w-100" ng-click="$ctrl.loadAll()" ng-if="limit < $ctrl.data.length"><i class="fas fa-download"></i> Load all</button>