<div  ng-controller="KillersController" ng-cloak="true">
	<div class="header clearfix">
		<nav>
			<ul class="nav nav-pills float-right">
				<li class="nav-item" ng-click="filter('d')" title="time >= 20m">
					<a class="nav-link text-danger h3" href="#"> <i
						class="fas fa-lightbulb"></i> {{state.counters.dangers}}
				</a>
				</li>
				<li class="nav-item" ng-click="filter('w')"
					title="20m >= time >= 5m"><a class="nav-link text-warning h3"
					href="#"> <i class="fas fa-lightbulb"></i>
						{{state.counters.warnings}}
				</a></li>
				<li class="nav-item" ng-click="filter('o')" title="5m >= time >= 0m">
					<a class="nav-link text-muted h3" href="#"> <i
						class="fas fa-lightbulb"></i> {{state.counters.ok}}
				</a>
				</li>
				<li class="nav-item" ng-click="filter('u')" title="In progress">
					<a class="nav-link text-info h3" href="#"><i
							class="fas fa-hourglass-half"></i>{{state.counters.unfinished}}
				</a>
				</li>
				<li class="nav-item" ng-click="filter('c')" title="All"><a
					class="nav-link  text-primary h3" href="#">  <i class="fas fa-eye"></i>
							{{state.size}}
				</a></li>
			</ul>
		</nav>
		<h3 class="text-muted font-italic font-weight-bold">
			<i class="fas fa-blind"></i> Verto Killers
		</h3>
	</div>
	<div class="row float-right " ng-init="incidents = true">
		<button class="btn btn-primary" ng-click="incidents = true"><i class="fab fa-audible"></i></button> &nbsp;
		<button class="btn btn-success" ng-click="incidents = false"><i class="fas fa-binoculars"></i></button>
	</div>
	<div class="row animate-show-hide" ng-show="incidents" ng-if="state.killers">
		<metric icon="'fab fa-audible'" title="'Incidents'" data="state.killers.length" differ="true"
			class="col-sm-12 text-center" initial-values="state.killers"/>
			</div>
	<div class="row animate-show-hide" ng-show="!incidents" >
		<metric icon="'fas fa-sitemap'" title="'Members'" data="state.members"
			class="col-sm-3 text-center " />
		<metric icon="'fas fa-plane'" title="'Backup'" data="state.backups"
			class="col-sm-3 text-center " />
		<metric icon="'fas fa-archive'" title="'Local'" data="state.local"
			class="col-sm-3 text-center " />
		<metric icon="'fas fa-database'" title="'Size'" data="state.size"
			class="col-sm-3 text-center " />
	</div>
	<br></br>
	<killers data="state.killers" title="'Killers'" show-type="filterBy" />
	<br></br>
	<list data="state.membersView" title="'Members'" />
</div>